.banner-background-img {
    width: 100vw;
    left: 50%;
    margin-left: -50vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-background-img img {
    width: 100%;
}

.banner-big-apple-img {
    position: absolute;
    top: 20px;
    left: -15%;
    opacity: 0;
    -webkit-animation: slide-left 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide-left 2s forwards;
    animation-delay: 0.5s;

}

.banner-forest-img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-animation: slide-right 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide-right 2s forwards;
    animation-delay: 0.5s;
}
.card-hover:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* disable animation images if screen is lower then certain px wide */
@media (max-width: 1900px) {
    .banner-big-apple-img {
        display: none;
    }

    .banner-forest-img {
        display: none;
    }
}

@-webkit-keyframes slide-left {
    100% {
        left: -8%;
        opacity: 1;
    }
}

@keyframes slide-left {
    100% {
        left: -8%;
        opacity: 1;
    }
}

@-webkit-keyframes slide-right {
    100% {
        right: 10%;
        opacity: 1;
    }
}

@keyframes slide-right {
    100% {
        right: 10%;
        opacity: 1;
    }
}